.resume_box{
    margin: 20px;
}
.m-0{margin: 0 !important}
.info_box{
    width: auto;
    margin: 10px 0;
    border: 5px solid #405d3d;
    padding: 30px;
}
a{text-decoration: none}
.text{color: #999}

.info_lable_text{
    color: #aaa;
    padding: 10px 35px;
    margin-bottom: 0;
    background-color: #999;
    font-weight: 1000;
    background: linear-gradient(124deg, #405d3d 0%, #405d3d 49%, #0000 50%, #0000 100%);
}
.dgrid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}
.mauto{
    margin: auto;
}

#third_box, #second_box, #forth_box{
    display: none;
}

@keyframes box_hidden_animation {
    from{left: 100vw;}
    to{left: 0vw;}
}
.box_hidden_animation{
    display: block !important;
    animation: box_hidden_animation 1000ms;
    position: relative;
    left: 0;
}
.main_btns{
    animation: main_btns_hover_anim_reverse 250ms;
    padding: 10px;
    border: 5px solid #405d3d;
    background: transparent;
    color: #aaa;
    font-size: 16px;
    font-weight: 1000;
    cursor: pointer;
    margin: 15px auto;
    font-family: 'Noto Sans Armenian','Open Sans','lucida grande',tahoma,arial,sans-serif !important;
}
@keyframes main_btns_hover_anim_reverse{
    from{
        border: 5px solid #405d3d;
        background-color: #405d3d;
    }
    to{
        border: 5px solid #405d3d;
        background: transparent;
    }
}
@keyframes main_btns_hover_anim{
    from{
        border: 5px solid #405d3d;
        background: transparent;
    }
    to{
        border: 5px solid #405d3d;
        background-color: #405d3d;
    }
}
.main_btns:hover{
    animation: main_btns_hover_anim 250ms;
    border: 5px solid #405d3d;
    background-color: #405d3d;
}

/*Media*/
@media screen and (max-width: 850px){
    .main_box{
        width: calc(100% - 100px);
        margin-left: 100px;
    }
    .info_lable_text {
        padding: 5px 15px;
        font-size: 16px;
        background: linear-gradient(124deg, #405d3d 0%, #405d3d 69%, #0000 70%, #0000 100%);
    }
    h1{
        font-size: 25px;
    }
    .dgrid2{
        grid-template-columns: 1fr;
    }
    .info_box{
        padding: 15px;
    }
    .info_box div h3{
        font-size: 15px;
    }
    .info_box div h2{
        font-size: 17px;
    }
    .main_btns{
        font-size: 11px;
    }
}
@media screen and (max-width: 500px){
     .main_box {
        width: 100%;
        margin-left: 0;
      }
}